<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center">
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" style="height: 100vh;overflow: hidden">
  <div *ngIf="!showLogin" style=" overflow: hidden">
    <ion-row>
      <ion-title color="primary" style="padding-top: 1vh" class="ion-text-center">
        Welcome to Food Tracker!
      </ion-title>
    </ion-row>
  <ion-row>
    <ion-title class="ion-text-center">{{ todaysDate | date: 'EEEE, dd.MM.yyyy' }}</ion-title>
  </ion-row>
    <ion-grid style="overflow: hidden">
      <ion-row>
        <ion-col style="background-color: transparent">
          <ion-title class="ion-text-left  ion-padding" style="padding-left: 3vh; padding-bottom: 0.5vh">New Meal?</ion-title>
          <ion-item style="background-color: transparent">
            <ion-button shape="default"  class="center-button" (click)="openDialog(true)"
              >Click Here & Scan QR Code</ion-button
            >
          </ion-item>
          <ion-title class="ion-text-left  ion-padding">Meals This Month:</ion-title>
          <ion-card>
            <ion-card-content style="overflow: auto">
              <ion-infinite-scroll style="height: 20vh">
                <ion-list
                  slot="content"
                  *ngIf="meals && meals.mealCount && meals.meals"
                >
                  <ion-item *ngFor="let item of (meals.meals | keyvalue) | reverse ">
                    Meal {{item.key}} : {{item.value | date: "dd.MM.yyyy HH:mm"}}
                  </ion-item>
                </ion-list>
              </ion-infinite-scroll>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title class="ion-text-left" style="padding-left: 3vh; padding-bottom: 0.5vh">Meal Reservation?</ion-title>
          <ion-item>
            <ion-button
              class="center-button"
              text
              (click)="openReservationDialog(true)"
            >
              Click Here & Make Meal Reservation
            </ion-button>
          </ion-item>

          <ion-title class="ion-text-left" style="padding-left: 3vh; padding-bottom: 0.5vh; padding-top: 0.5vh">My Meal Reservations</ion-title>

          <ion-card>
            <ion-card-content style="overflow: auto">
              <ion-infinite-scroll style="height: 20vh">
                <ion-list
                  class="ion-padding"
                  slot="content"
                  *ngIf="reservations && reservations.length > 0"
                >
                  <ion-item *ngFor="let reservation of (reservations | keyvalue) | reverse">
                    <ion-label style="margin-left: 1rem">
                      <h2>
                        Reservation Date: {{reservation.value.reservationDate}}
                      </h2>
                      <p>Meals: {{reservation.value.mealType}}</p>
                    </ion-label>
                    <ion-button
                      class="delete-res-btn"
                      color="warn"
                      style="border-style: hidden"
                      *ngIf="canDelete(reservation.value.reservationDate)"
                      slot="end"
                      (click)="btnDeleteReservation(reservation.value.id, reservation.value.reservationDate)"
                    >
                      <ion-icon color="warn" name="trash-outline" item-start></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-list>
              </ion-infinite-scroll>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- MODALS -->

    <ion-modal [isOpen]="openModal" backdropDismiss="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title></ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="openDialog(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-qr
            [isRecording]="openModal"
            (onQrScanned)="scanWasSuccessful($event)"
          ></app-qr>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="openReservationModal" backdropDismiss="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title></ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="openReservationDialog(false)"
                >Close</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-row class="ion-justify-content-center">
            <ion-title class="ion-text-center ion-padding">Meal Reservation</ion-title>
          </ion-row>
          <ion-row class="ion-justify-content-center" style="padding-bottom: 1vh">
            <ion-label class="ion-text-center">{{resDate | date: "EEEE, dd.MM.yyyy"}}</ion-label>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-datetime [min]="minDate" [(ngModel)]="resDate" presentation="date" [firstDayOfWeek]="1" color="primary" class="ion-justify-content-center ion-align-self-center ion-text-center ion-align-items-center"></ion-datetime>
          </ion-row>

          <ion-row class="ion-padding-bottom ion-padding-top">
            <ion-title
            >Meal Type:</ion-title
            >
          </ion-row>
            <ion-list lines="none" *ngFor="let opt of reservationOptions" class="reservation-type-list">
              <ion-item >
                <ion-checkbox
                  justify="space-between"
                  [(ngModel)]="opt.checked"
                  (ionChange)="changeEvent($event)"
                >{{opt.text}}</ion-checkbox
                >
              </ion-item>

            </ion-list>
          <ion-button shape="default" size="large" style="width: 100%"
            (click)="addReservationBtn()"
            [disabled]="!isReservationBtnActive"
            >SAVE</ion-button
          >
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
