<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center">
    <img id="site-logo" style="height: 0.7rem; padding-inline: 20px" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-login *ngIf="showLogin"></app-login> -->
  <div *ngIf="!showLogin" style="height: 100%">
    <ion-title style="padding-top: 20px">
      Welcome {{usr?.firstName}}
    </ion-title>
    <!-- <ion-split-pane></ion-split-pane> -->

    <!-- <br /> -->
    <ion-grid>
      <ion-row style="height: 46%">
        <ion-col>
          <ion-item>
            <ion-button class="center-button" (click)="openDialog(true)"
              >Scan QR Code</ion-button
            >
          </ion-item>

          <ion-accordion-group style="margin-top: 20px">
            <ion-accordion
              value="tracking"
              style="max-height: 200px; overflow: auto"
            >
              <ion-item slot="header" color="light">
                <ion-label
                  >Meals this month:
                  <ion-badge>{{usrWithTrack?.mealEntry?.mealCount}}</ion-badge>
                </ion-label>
              </ion-item>
              <ion-list
                class="ion-padding"
                slot="content"
                *ngIf="meals && meals.mealCount && meals.meals"
              >
                <ion-item *ngFor="let item of meals.meals | keyvalue">
                  {{item.key}} : {{item.value | date: "dd.MM.yyyy HH:mm"}}
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
      <ion-row style="height: 46%">
        <ion-col>
          <ion-item>
            <ion-button
              class="center-button"
              (click)="openReservationDialog(true)"
            >
              Add reservation
            </ion-button>
          </ion-item>

          <ion-accordion-group style="margin-top: 20px">
            <ion-accordion
              value="tracking"
              style="max-height: 200px; overflow: auto"
            >
              <ion-item slot="header" color="light" style="position: static">
                <ion-label
                  >Reservations this month:
                  <ion-badge>{{reservations?.length}}</ion-badge>
                </ion-label>
              </ion-item>
              <ion-list
                class="ion-padding"
                slot="content"
                *ngIf="reservations && reservations.length > 0"
              >
                <ion-item *ngFor="let reservation of reservations | keyvalue">
                  <span
                    slot="start"
                    style="position: absolute; top: 0.8rem; left: 0px"
                    >{{reservation.key}}:</span
                  >
                  <ion-label style="margin-left: 1rem">
                    <h2>
                      Reservation Date: {{reservation.value.reservationDate}}
                    </h2>
                    <p>Meals: {{reservation.value.mealType}}</p>
                  </ion-label>
                  <ion-button
                    *ngIf="canDelete(reservation.value.reservationDate)"
                    slot="end"
                    (click)="btnDeleteReservation(reservation.value.id, reservation.value.reservationDate)"
                  >
                    <ion-icon name="trash-outline" item-start></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- TODO: Implementirat -->
    <!-- <ion-item>
      <ion-button class="center-button">Meals</ion-button>
    </ion-item> -->

    <ion-modal [isOpen]="openModal" backdropDismiss="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="openDialog(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-qr
            [isRecording]="openModal"
            (onQrScanned)="scanWasSuccessful($event)"
          ></app-qr>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="openReservationModal" backdropDismiss="false">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Add reservation</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="openReservationDialog(false)"
                >Close</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-item>
              <ion-label
                >Add reservation for date: {{tomorrowDate | date:
                "dd.MM.yyyy"}}</ion-label
              >
            </ion-item>
            <ion-item *ngFor="let opt of reservationOptions">
              <ion-checkbox
                [(ngModel)]="opt.checked"
                (ionChange)="changeEvent($event)"
                >{{opt.text}}</ion-checkbox
              >
            </ion-item>
          </ion-list>
          <ion-button
            (click)="addReservationBtn()"
            [disabled]="!isReservationBtnActive"
            >Confirm selection</ion-button
          >
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
