<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home" *ngIf="showTabs">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Food Tracker</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="todo-list" href="/tabs/todo-list" *ngIf="showTabs">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>My Day</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user" href="/tabs/user" *ngIf="showTabs">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
