<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Food Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button expand="full" (click)="scan()" >Track</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-button expand="full">Meal overview</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
