/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.ios{
  --ion-safe-area-top : -1 !important;
  --ion-safe-area-bottom: 14px;
  .transparent-ios {
    --background: transparent;
  }
}
ion-button {
  --border-radius: 15px;
  --color: black;
}
ion-datetime {
  --background: #fff1f2;
  --background-rgb: 255, 241, 242;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}


.gradient-btn {
  ion-item {
    box-shadow: none;
    text-shadow: none;
    border-radius: 15px;
  }
  ion-button {
    border-radius: 15px;
    font-size: 15px;
    //--background: linear-gradient(270deg, #c7a062 0%, #be9350 100%) !important;
  }
  --ion-font-family: 'worksans-semibold';
  border-radius: 15px;
  font-size: 1.2em;
  --margin-bottom: 1vh;
  --color: linear-gradient(90deg,rgba(225,205,175,0.6) 0%, rgba(199,160,89,0.45) 33%, rgba(190,147,80,0.4) 100%) !important;
  --background: linear-gradient(90deg,rgba(225,205,175,0.6) 0%, rgba(199,160,89,0.45) 33%, rgba(190,147,80,0.4) 100%) !important;
  background-image: linear-gradient(90deg,rgba(225,205,175,0.6) 0%, rgba(199,160,89,0.45) 33%, rgba(190,147,80,0.4) 100%) !important;

}

.gradient-accordion {
  margin-bottom: 1rem;
  ion-item {
    --ion-font-family: 'worksans-semibold';
    border-radius: 15px;
    //margin-bottom: 1rem;
    --color: linear-gradient(90deg,rgba(225,205,175,0.6) 0%, rgba(199,160,89,0.45) 33%, rgba(190,147,80,0.4) 100%) !important;
    --background: transparent;
    background-image: linear-gradient(90deg,rgba(225,205,175,0.6) 0%, rgba(199,160,89,0.45) 33%, rgba(190,147,80,0.4) 100%) !important;
}


}


ion-grid {
  ion-item.gradient-btn {
    box-shadow: none;
    text-shadow: none;
    border-radius: 15px;
  }
  ion-button.gradient-btn {

    --ion-font-family: 'worksans-semibold';
    border-radius: 15px;
    font-size: 1.2em;
    box-shadow: 0.3vh 0.3vh 0.3vh #666;
    --margin-bottom: 1vh;
    --color: linear-gradient(90deg,rgba(225,205,175,0.6) 0%, rgba(199,160,89,0.3) 33%, rgba(190,147,80,0.3) 100%) !important;
    --background: linear-gradient(90deg,rgba(225,205,175,0.6) 0%, rgba(199,160,89,0.3) 33%, rgba(190,147,80,0.3) 100%) !important;
    background-image: linear-gradient(90deg,rgba(225,205,175,0.6) 0%, rgba(199,160,89,0.3) 33%, rgba(190,147,80,0.3) 100%) !important;
  }
}

ion-item {
  min-height: 4vh;
}
.ios {
  ion-header {
    padding-top: env(safe-area-inset-left);
  }
}

flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-content {
}
// ios bottom iphone x fixed
body {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

ion-tab-bar {
  margin-bottom: calc(7px + env(safe-area-inset-top));
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);

  --ion-font-family: 'worksans';
  --ion-safe-area-bottom: 14px;
  ion-title, ion-text {
    --ion-font-family: 'worksans';
  }

  .btn-icon-only {
    --border-style: none;
    --border-color: 0;
    --box-shadow: none;
    --background: transparent;
    //color: #eb445a;
  }

  --color-checked: var(--ion-color-primary);
  ion-segment {
    width: 100%;
    ion-segment-button {
      font-family: worksans-semibold;
      border-radius: 10px;

      &::part(indicator) {
        //height: 100%;
        border-width: 3px;
        border-radius: 10px;
        border-color: #ccaf8a;
        --box-shadow: none;
        --background: #ccaf8a;
      }
      &::part(indicator-background) {
        background: #ccaf8a;

      }
    }

  }
}


ion-header {
  --box-shadow: none;
  box-shadow: none;
  //font-size: 30vh;
  border: none;
  --border-color: #f7f5f3;
  --background: #f7f5f3;
  ion-button {
    --background: transparent;
    object-fit: cover;

  }
}
.ios {
  ion-toolbar {
    --ion-font-family: 'baskerville' !important;
    //margin-top: calc(env(safe-area-inset-top) - 10px);
    //margin-bottom: calc(7px + env(safe-area-inset-top));
  }
}
