
<ion-content [fullscreen]="true">
  <div class="flexContainer">
    <ion-button (click)="changeDate(-1)">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <p>{{selectedDate | date : 'dd.MM.yyyy'}}</p>
    <ion-button (click)="changeDate(1)" [disabled]="isButtonDisabled()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <p>{{dataStatusMsg}}</p>
  <ion-accordion-group expand="inset">
    <ion-accordion *ngFor="let taskList of taskLists; let i = index">
      <ion-item slot="header" color="primary">
        <ion-label>{{taskList.title}}</ion-label>
        <ion-label slot="end"
          >{{completedTasks[i]}}/{{taskList.tasks.length}}</ion-label
        >
      </ion-item>
      <ion-item
        slot="content"
        color="light"
        *ngFor="let task of taskList.tasks; let j = index"
      >
        <ion-checkbox
          [(ngModel)]="task.completed"
          [class]="task.completed ? 'item-done' : ''"
          (ionChange)="toggleDone(task, taskList, i)"
          >{{task.title}}</ion-checkbox
        >
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>

  <!-- Scroll to Top Button -->
  <!-- <ion-button
    (click)="scrollToTop()"
    class="scroll-to-top-button"
    *ngIf="showScrollButton"
  >
    <ion-icon name="arrow-up"></ion-icon>
  </ion-button> -->
</ion-content>
