.flexContainer {
  display: flex;
  justify-content: space-between; /* This property places items at the beginning and end of the container */
  align-items: center;
}
#fake-click {
  display: none;
}

.item-done {
  text-decoration: line-through;
}
ion-header ion-toolbar {
  --background: url("../../assets/Untitled.svg") no-repeat center;
}

.selected-btn {
  --background: #efd7b2;
  --border-radius: 10px;
}

.example-modal {
  align-items: center;
  justify-content: center;
  &::part(content){
    width: 80%;
    height: 50%;
  }
}

.segment-invisible {
  visibility: hidden;
}
ion-checkbox {
  width: 100%;
  --size: 2.75rem;
  --background-checked: #ffffff;
  --checkbox-background: #ffffff;
  --checkbox-background-checked: rgb(45, 211, 111);
  border-color: rgb(45, 211, 111);
}

ion-checkbox::part(container) {
  border-radius: 30px;
  //border-color: rgb(45, 211, 111);
  --border-color: #af8550;
  --border-color-checked:rgb(45, 211, 111);
  --background-checked: rgb(45, 211, 111);
}
ion-card {
  ion-card-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    .task-title {
      font-family: worksans-semibold;
    }
  }
  ion-checkbox {
    //padding-bottom: 0.75rem;
  }
  h6 {
       margin-bottom: 0 !important;
     }
}

.ios.ion-card {
  ion-card-title {
    padding-bottom: 0; padding-left: 0;

  }
}

.select-transparent {
  --background: transparent;
}

.task-completed {
  --background: linear-gradient(-90deg,rgb(45, 211, 111,0.25) 0%, rgb(45, 211, 111,0.2) 33%, rgb(45, 211, 111,0.1) 100%) !important
}

  ion-button:disabled {
    color: #af8550 !important;
    opacity: 1 !important;
  }
ion-button {
  color: #af8550 !important;
  opacity: 1 !important;
}


ion-textarea:disabled {
  color: black !important;
  opacity: 1 !important;
}
ion-textarea {
  color: black !important;
  opacity: 1 !important;
}

.ios {
  ion-textarea:disabled {
    color: black !important;
    opacity: 1 !important;
  }

  ion-textarea {
    color: black !important;
    opacity: 1 !important;
  }
}
