.flexContainer {
  display: flex;
  justify-content: space-between; /* This property places items at the beginning and end of the container */
  align-items: center;
}
#fake-click {
  display: none;
}

.item-done {
  text-decoration: line-through;
}
ion-header ion-toolbar {
  --background: url("../../assets/Untitled.svg") no-repeat center;
}

.selected-btn {
  --background: #efd7b2;
  --border-radius: 10px;
}

.example-modal {
  align-items: center;
  justify-content: center;
  &::part(content){
    width: 80%;
    height: 50%;
  }
}

.segment-invisible {
  visibility: hidden;
}
ion-checkbox {
  width: 100%;
  --size: 36px;
  --background-checked: #af8550;
  --checkbox-background: #ece2e1;
  background-image: transparent;
}

ion-checkbox::part(container) {
  border-radius: 30px;
  border-color: #af8550;
  --background-checked: #af8550;
}

.ios.ion-card {
  ion-card-title {
    padding-bottom: 0; padding-left: 0;
  }
}
