<ion-content class="bg" [fullscreen]="false">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="9" size-md="9">
        <form [formGroup]="loginForm">
          <ion-item lines="full" class="input-item">
            <ion-input
              label="Email"
              labelPlacement="floating"
              type="email"
              formControlName="email"
            ></ion-input>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          </ion-item>
          <br><br>
          <ion-item lines="full" class="input-item">
            <ion-input
              label="Password"
              labelPlacement="floating"
              type="password"
              formControlName="password"
            ></ion-input>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          </ion-item>
          <!-- TODO: Implementirat -->
          <!-- <br />
          <ion-button color="dark" fill="clear" size="full"
            ><u>Forgot password</u></ion-button
          > -->
          <br/>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <ion-button shape="round" fill="outline" size="large" expand="full" (click)="login()">SIGN IN</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="flex-center">
  </div>
</ion-content>
